body {
  margin:0;
  padding: 0;
}

canvas {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
}

.tuto {
  color: white;
  background: black;
  display: inline-block;
  font-size: 60px;
  padding: 40px;
  font-family: sans-serif;
}