<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>DungeonVR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js"></script>
    <script>
    </script>
  </head>
  <body>
  </body>
  